<!DOCTYPE html>
{% extends "proyectoev/base.html" %}

{% load static %}
{% block body_block %}

<div class="container">

    <P>
        <h1 class="container-md grid text-center" >¡Bienvenido a Galactic Penguins!</h1><br>
        Somos apasionados amantes del café que buscamos compartir con el mundo la riqueza y diversidad que esta increíble bebida tiene para ofrecer.
        Desde los aromáticos granos cultivados en las exuberantes tierras hasta el momento en que la taza llega a tus manos,
        cada paso en nuestro proceso de producción está impregnado de dedicación y amor por el café.
        En Galactic Penguins, creemos en más que solo una taza de café. 
        <br><br>Creemos en experiencias sensoriales que despiertan los sentidos y en momentos compartidos que conectan a las personas. Por eso, nos esforzamos por ofrecer una amplia variedad de cafés de alta calidad, cuidadosamente seleccionados de las mejores regiones productoras del mundo.
        Nuestra misión es más que solo servir una buena taza de café; es fomentar una cultura en la que el café no solo sea una bebida, sino un medio para explorar el mundo, disfrutar de momentos de tranquilidad o estimular conversaciones profundas. Queremos que cada sorbo de nuestro café te transporte a lugares lejanos y te conecte con la rica historia y tradición que se encuentra en cada grano.
        Únete a nosotros en este viaje de descubrimiento y pasión por el café.
        <BR><br> Desde el momento en que tomas tu primera taza hasta cada sorbo que disfrutas con nosotros, estamos comprometidos a ofrecerte una experiencia que deleite tus sentidos y alimente tu alma.
        ¡Gracias por ser parte de nuestra comunidad cafetera en Galactic Penguins!
    </P>

</div>

{% endblock%}