<!DOCTYPE html>
{% extends "proyectoev/base.html" %}

{% load static %}
{% block body_block %}

<div class="container-xxl">
    <h1><strong> Como surge el cafe como bebida</strong></h1>
    <br>
    <p class="text-xxl-start fst-normal user-select-all">La historia del café como bebida se remonta a siglos atrás y está envuelta en leyendas y mitos que se entrelazan con su descubrimiento y popularización.</h2>
    <br>
    La historia más conocida se centra en Etiopía, en la región de Kaffa, donde según la leyenda, 
    <br>un pastor llamado Kaldi observó cómo sus cabras se volvían más animadas después de consumir los frutos rojos de cierta planta.
    Intrigado, probó los frutos él mismo y experimentó una sensación de energía renovada.
    <br><br>
    Los frutos rojos que Kaldi descubrió eran los de la planta de café, conocida científicamente como Coffea arabica.
    A partir de este descubrimiento casual, el consumo de café se extendió a través de Etiopía y luego a otras partes del mundo árabe en la antigüedad.
    Se dice que los monjes sufíes en Yemen fueron los primeros en cultivar café de forma intencionada como una bebida estimulante.
    Pronto, el café se convirtió en parte de la cultura social en el mundo árabe, donde se establecieron las primeras casas de café llamadas "qahveh khaneh".
    Desde el Medio Oriente, el café se extendió por todo el mundo árabe y llegó a Constantinopla (hoy Estambul) en el siglo XV.
    <br><br>
    A través del comercio, se introdujo en Europa y se abrieron las primeras casas de café en ciudades como Venecia y Londres en el siglo XVII.
    La popularidad del café creció rápidamente en Europa, y las casas de café se convirtieron en importantes centros sociales e intelectuales donde la gente se reunía para discutir,
    debatir y compartir ideas. La bebida se asoció con la claridad mental y la estimulación intelectual, lo que contribuyó a su creciente popularidad.
    Hoy en día, el café es una de las bebidas más consumidas en el mundo, con una amplia variedad de métodos de preparación y estilos que reflejan la diversidad cultural y las preferencias individuales en todo el mundo.
    Desde el humilde origen en Etiopía hasta convertirse en un fenómeno global, la historia del café es una fascinante mezcla de mitos, tradiciones y descubrimientos que continúa evolucionando hasta el día de hoy.
    <br><img src="/static/caf2.jpg" alt="grano cafe" width="150px">
    </p>
</div>

{% endblock%}