<!DOCTYPE html>
{% extends "proyectoev/base.html" %}

{% load static %}
{% block body_block %}

<div class="container-xxl">
<p class="text-xxl-start fst-normal user-select-all">
<br> 
Preparar café puede ser todo un ritual, y hay muchas formas de hacerlo. 
<br>Aquí te les dejamos una guía básica para preparar café con una cafetera de goteo:
<br>
<strong><h2>Ingredientes y herramientas:</h2></strong>
<ol>
<li>Café molido (aproximadamente 1 cucharada colmada por cada 180 ml de agua)</li>
<li>Agua</li>
<li>Cafetera de goteo</li>
<li>Filtro de papel</li>
<li>Taza</li>
</ol>
<strong><h2>Instrucciones:</h2></strong>

Prepara la cafetera: Asegúrate de que la cafetera esté limpia y en buenas condiciones.
Coloca el filtro de papel en la canasta del filtro.<br>
Mide el agua: Mide la cantidad de agua que deseas usar en la cafetera. Por lo general, se recomienda usar una proporción de 1 a 2 cucharadas de café por cada 180 ml de agua, pero esto puede variar según tus preferencias de fuerza.<br>
Mide el café: Mide la cantidad de café molido que necesitas según la cantidad de agua que vayas a usar.
<br>Agrega el agua y el café: Vierte el agua en el depósito de la cafetera y luego agrega el café molido al filtro de papel.
<br>Enciende la cafetera: Enciende la cafetera y espera a que el agua caliente pase a través del café molido y gotee en la jarra. Esto puede tardar unos minutos.
<br>Sirve y disfruta: Una vez que la cafetera haya terminado de preparar el café, sirve la cantidad deseada en una taza y disfruta de tu bebida caliente.
Recuerda ajustar la cantidad de café y agua según tus preferencias personales de fuerza y sabor. Además, puedes experimentar con diferentes tipos de café y métodos de preparación para descubrir cuál es tu favorito. ¡Disfruta tu café!
</p>
</div>

{% endblock%}